@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
  margin: 0 !important;
}

.content--interactive .content__headline,
.headline {
  font-size: 32px;
  line-height: 36px;
  font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia,
    serif;
  font-weight: 700;

  @include mq(tablet) {
    font-size: 34px;
    line-height: 38px;
  }

  @include mq(leftCol) {
    font-size: 44px;
    line-height: 48px;
  }
}

.headline {
  font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
  padding-top: 0px;
}

.content__standfirst,
.standfirst {
  font-weight: 200;
  line-height: 24px;
  font-size: 18px;
  margin-top: 24px;
  max-width: 90%;
  @include mq(mobileLandscape) {
    max-width: 80%;
  }
  @include mq(tablet) {
    max-width: 540px;
  }
  @include mq(desktop) {
    font-size: 22px;
    line-height: 26px;
  }
}

.content__main,
.content__head {
  position: relative;

  &:before {
    position: absolute;
    top: 0;

    height: 100%;
    min-height: 500px;
    content: " ";

    border-left: 1px solid #dfdfdf;

    @include mq(leftCol) {
      left: calc((100% - 1140px) / 2 + 170px);
    }

    @include mq(wide) {
      left: calc((100% - 1300px) / 2 + 250px);
    }
  }

  .byline {
    border-top: none !important;
    margin-top: 5px;
  }
}

a,
.u-fauxlink {
  color: #c70000;
  cursor: pointer;
  text-decoration: none;
}
.tonal--tone-news .tone-colour {
  color: #c70000;
}

.content__meta-container {
  background-image: repeating-linear-gradient(
    to bottom,
    #dcdcdc,
    #dcdcdc 0.0625rem,
    transparent 0.0625rem,
    transparent 0.25rem
  );
  background-repeat: repeat-x;
  background-position: top;
  -webkit-background-size: 0.0625rem 0.8125rem;
  background-size: 0.0625rem 0.8125rem;
  padding-top: 12px;
  border-top: none;
}
.article-navigation,
.content--interactive header {
  max-width: 620px;

  @include mq(leftCol) {
    margin-left: 160px !important;
  }
  @include mq(wide) {
    margin-left: 240px !important;
  }
}
.article-navigation {
  max-width: unset;
}
.content__main-column--interactive {
  & > p,
  & > h2,
  & > ul,
  & > sub,
  & > header,
  .element-interactive,
  .element-atom,
  .element-video {
    max-width: 620px;

    @include mq(leftCol) {
      margin-left: 160px !important;
    }
    @include mq(wide) {
      margin-left: 240px !important;
    }
  }

  & > p {
    font-size: 17px;

    strong {
      background-color: none;
      box-shadow: none;
    }

    sub {
      bottom: 0px;
      font-size: 100%;
      font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia;
      font-weight: 700;
    }
  }

  & > h2 {
    font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia;
    font-size: 28px;
    line-height: 1.36;
    font-weight: 700;
    color: #333;
    // margin-top: 36px;
    margin-bottom: 6px;

    @include mq($until: desktop) {
      font-size: 24px;
    }
  }
  .element-immersive {
    max-width: initial;
    margin-left: 0 !important;
    margin-bottom: 48px !important;
    font-size: 0;

    @include mq(wide) {
      width: 1260px;
    }
  }

  .element-showcase {
    max-width: 860px;
  }
  & > p {
    &:before {
      position: absolute;
      top: 850px;
      bottom: 0;
      /* height: 330px; */
      /* min-height: 500px; */
      content: " ";
      /* border-left: 1px solid #dfdfdf; */
      background-color: #dfdfdf;
      width: 1px;
      z-index: -10;
      display: none;

      @include mq(leftCol) {
        display: block;
        left: 160px;
      }
      @include mq(wide) {
        left: 240px;
      }
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
  }
}
