// strip colour and theme out
// Header boxes
.content--interactive {
  background-color: #fff7e5;
  h1 {

  }
}
.content--interactive, #maincontent {
  // h1, .content__headline, .headline,
  h2 {

  }
}
#maincontent {
  .section-header {
    position: relative;
    margin: 0;
    max-width: 100vw;
    overflow: hidden;
    @include mq(wide){
      width: 920px;
    }
    h2 {
      background-color: $brand400;
      color: $neutral100;
      font-family: $f-titlepiece;
      padding: 2px 6px 48px 10px;
      margin: 0;
      font-size: 52px;
      line-height: 1;
      @include mq(tablet){
        font-size: 112px;
        line-height: .9;
        padding-top: 1px;
        padding-bottom: 68px;
        margin-right: 80px;
      }
      @include mq(desktop){
        font-size: 132px;
        line-height: .85;
        font-size: 160px;
      }
      @include mq(wide){
        font-size: 160px;
        padding-right: 10px;
        padding-left: 17px;
      }
    }
  }
  .byline-box {
    font-family: $f-serif-headline;
    position: relative;
    @include mq(tablet){
    font-size: 22px;
    line-height: 24px;
    }
    em {
      font-style: normal;
    }
    strong {
      font-weight: 200;
    }
    width: 380px;
    // font-size: 20px;
    // line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    padding: 6px 9px 26px 10px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    color: #041f4a;
    z-index: 2;
    margin: -27px 14px 0 10px;
  }
}
