// Header boxes
.content--interactive {
  // reset header gu_grid
  div:first-of-type {
    padding-left: 0;
    padding-right: 0;
    @include mq(leftCol){
      grid-template-columns: 0px 1px 1fr;
      grid-column-gap: 0;
    }
  }
  .element .element-interactive {
        margin-left: 0px !important;
  }
}
.content--interactive, #maincontent {
  [data-gu-name="title"] {
    display: none;
  }
  [data-gu-name="border"] {
    > div {
      border-color: transparent;
    }
  }
  [data-gu-name="meta"] {
    > div {
      max-width: none;
    }
  }
  .content__meta-container_dcr {
    div > div:first-child:not([class]), address {
      display: none;
    }
    [data-print-layout="hide"] {
      div:nth-of-type(2) {
        border-top-color: transparent;
      }
    }
  }
  [data-gu-name="lines"] {
    display: none;
  }
  [data-gu-name="headline"] {
    content: ' ';
    display: block;
    margin: 24px 0 -24px;
    width: 100%;
    height: 240px; // needs to be more dynamic
    background-image: url('https://uploads.guim.co.uk/2021/12/03/Masthead-title-4.5.jpg');
    background-size: 120%;
    background-repeat: no-repeat;
    @include mq(mobileMedium) {
      height: 300px;
    }
    @include mq(mobileLandscape) {
      height: 360px;
    }
    @include mq(tablet) {
      height: 460px;
    }
    @include mq(leftCol) {
      width: 920px;
      height: 641px;
      margin: 48px 0 -48px;
    }
  }
  h1, .content__headline {
    @include sr-only();
  }
  // h1, .content__headline,
  .headline, .section-header h2 {
    // transition: all 400ms ease-in-out, opacity 200ms linear;
    // opacity: 1;
    background-color: $brand400;
    color: $neutral100;
    font-family: $f-titlepiece;
    padding: 2px 6px 48px 10px;
    margin: 0;
    font-size: 52px;
    line-height: 1;
    width: 100%;
    @include mq(tablet){
      font-size: 112px;
      line-height: .9;
      padding-top: 1px;
      padding-bottom: 68px;
      margin-right: 80px;
    }
    @include mq(desktop){
      font-size: 132px;
      line-height: .85;
      font-size: 160px;
      width: 800px;
    }
    @include mq(wide){
      font-size: 160px;
      padding-right: 10px;
      padding-left: 17px;
      width: 920px;
    }
  }
}
.content__standfirst {
  margin-top: 0;
  margin-bottom: 0;
}
.byline-box, [data-gu-name="standfirst"], .meta__social {
  font-family: $f-serif-headline;
  position: relative;
  @include mq(tablet){
  font-size: 22px;
  line-height: 24px;
  }
  em {
    font-style: normal;
  }
  strong {
    font-weight: 200;
  }
  // font-size: 20px;
  // line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  padding: 6px 9px 12px 10px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  color: #041f4a;
  z-index: 2;
  margin: -27px 10px 0 -1px;
  width: 100%;
  @include mq(tablet) {
    margin: -27px 14px 0 10px;
  }
  @include mq(leftCol) {
    width: 480px;
    padding: 6px 9px 26px 10px;
  }
}
[data-gu-name="standfirst"], .meta__social {
  width: 100vw;
  @include mq(leftCol) {
    margin-left: 160px !important;
  }
  @include mq(wide) {
    width: 560px;
    margin-left: 240px !important;
  }
}
.meta__social {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin: -4px 0 0 9px;
  padding-bottom: 6px;
  padding-left: 12px !important;
  padding-right: 12px !important
}
#maincontent {
  .section-header {
    // position: relative;
    // margin: 0;
    // overflow: hidden;
    // max-width: 100vw;
    // @include mq(wide){
    //   width: 920px;
    // }
    h2 {

    }
  }
}
