#maincontent {
  .article-navigation, header {
    // max-width: 620px;
    @include mq(leftCol) {
      margin-left: 0 !important;
    }
    @include mq(wide) {
      // margin-left: 240px !important;
    }
  }
  .article-navigation {
    display: flex;
    flex-direction: column;
    @include mq(tablet) { }
    @include mq(desktop) {
      position: fixed;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 1082;
      padding: 40px 20px;
      #close-nav {
        display: none;
      }
    }
    .nav-title-wrapper {
      @include mq(desktop) {
        justify-content: flex-end;
        p {
          // font-family: $f-headline-full;
          color: $primaryColor;
          text-align: right;
        }
      }
    }
    .nav-class {
      color: $primaryColor;
      white-space: nowrap;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      display: inline-flex;
      align-items: center;

      @include mq(desktop) {
        text-align: right;
        justify-content: flex-end;
        &:after {
          content: "";
          background-color: $primaryColor;
          width: 2px;
          height: 20px;
          display: inline-block;
          margin-left: 12px;
          transition: all 400ms ease-in-out, opacity 200ms linear;
          opacity: 0.5;
        }
        &.active {
          &:after {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: -4px;
            opacity: 1;
          }
          // color: $secondaryColor;
          span {
            opacity: 1;
          }
        }
      }
      &:hover {
        color: black;
      }
    }
  }
  //   a {
  //     &:before {
  //       content: "";
  //       opacity: 0;
  //       transform: translateX(60px);
  //       visibility: hidden;
  //       position: absolute;
  //       top: 12px;
  //       right: 30px;
  //       transition: transform 400ms cubic-bezier(0.32, 0.03, 0.19, 1),
  //         opacity 250ms cubic-bezier(0.32, 0.03, 0.19, 1), visibility 250ms;
  //       transition-delay: 0ms;
  //     }
  //   }
}
