@import "mq";
@import "palette";

.interactive-atom {
  margin: 0;
  padding: 0;
}

// for apps adds extra padding. Needed to make dark mode work
.ios,
.android {
  .interactive-atom {
    padding: 8px;
  }
}

.interactive-wrapper {
  margin: 0 -10px;
  @include mq(tablet) {
    margin: 0;
  }
}

.supporter-wrapper {
  position: relative;
  background-color: $brandAlt400;
  padding: 4px 10px;
  &.show-sub {
    .show-sub {
      display: block;
    }
    .hide-sub {
      display: none;
    }
  }
  &.hide-sub {
    .show-sub {
      display: none;
    }
    .hide-sub {
      display: block;
    }
  }
  .support_headline {
    font-family: $f-serif-headline;
    line-height: 113%;
    font-size: 24px;
    font-weight: 500;
    max-width: 270px;
    // max-width: 70%;
    @include mq(phablet) {
      max-width: 420px;
    }

    span {
      font-weight: 200;
    }
  }
  .support_button {
    font-size: 17px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 8px;
    padding: 8px 18px 9px;
    background-color: #121212;
    max-width: max-content;
    border-radius: 60px;
    transition: background-color 0.3s ease;
    @include mq(tablet) {
      margin-top: 32px;
      margin-bottom: 4px;
    }
    &:hover {
      background-color: #041f4a;
    }
    a {
      font-family: $f-sans-serif-text;
      color: white !important;
      border: none !important;
      &:hover {
        border: none !important;
        color: white !important;
      }
    }
  }
  .support_roundel {
    position: absolute;
    top: 4px;
    right: 10px;
  }
}

.ios,
.android {
  .supporter-wrapper {
    display: none;
    margin: 4px -12px;
    .support_button {
      color: #ffffff !important;
      background-image: none !important;
      border-bottom: none !important;
      &:hover {
        color: #ffffff !important;
        background-image: none !important;
        border-bottom: none !important;
      }
    }
    .garnett--pillar-news:not(.garnett--type-guardianlabs)
      .prose
      a:not(.video-URL) {
      background-image: none;
    }
    .garnett--pillar-news:not(.garnett--type-guardianlabs)
      .prose
      a:not(.video-URL) {
      color: #fff;
    }
  }

  @media (prefers-color-scheme: dark) {
    figure[data-atom-type="interactive"],
    .interactive {
      background-color: transparent;
    }
  }
  .garnett--pillar-news.garnett--type-article
    .article__body
    .from-content-api.prose
    a {
    background-image: none;
  }
}
