// strip colour and theme out
$background: $neutral100;

@import "nav";
@import "header";

.content--interactive {
  // strip lines
  div:first-of-type {
    border-left: none;
    border-right: none;
  }
}
