@import "variables";

@mixin sr-only() {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

// theme - create seperate scss - theme-core
$primaryColor: #041f4a;
$secondaryColor: #ffe500;
$background: $neutral100;

$collapsed-nav-height: 40px;
$icon-radius: 24px;

@import "fonts";
// @import "enhanced_fonts";
@import "mq";
@import "palette";
@import "enhancer";

@import "theme2021";

// gu_grid pulls the css for gs-container and content__main-column
// @import "gu_grid";

.hide-content {
  opacity: 0;
}
.show-content {
  opacity: 1;
}
.interactive-atom {
  margin: 0;
  padding: 0;
}

// for apps adds extra padding. Needed to make dark mode work
.ios,
.android {
  .interactive-atom {
    padding: 8px;
  }
}

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}
.content--interactive {
  blockquote {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 24px;
    @include mq(tablet) {
      width: 240px;
    }
    @include mq(leftCol) {
      width: 304px;
    }
    > p {
      flex: 1 0 50%;
      @include mq(tablet) {
        flex: 0 1 100%;
      }
    }
    > p:first-child{
      flex: 0 1 100%;
    }
    p {
      em {
        font-family: $f-sans-serif-text;
        font-size: 15px;
        line-height: 1.15;
        color: $culture350;
        font-style: normal;
        &::before {

        }
      }
      strong {
        color: $primaryColor;
        font-family: $f-headline-full;
        font-weight: 500;
        line-height: 1.15;
        font-size: 20px;
        @include mq(desktop) {
          font-size: 24px;
        }
        em {
          // flex-direction: row;
          font-family: $f-headline-full;
          color: $primaryColor;
          font-weight: 700;
          font-size: 56px;
          @include mq(desktop) {
            font-size: 82px;
          }
        }
      }
    }
  }
}
.article-navigation {
  background-color: $background;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 5;
  padding: 10px 0;
	transition: all 0.3s ease-in-out;
	max-height: 500px;
  // width: 100%;
  // position: sticky;
  // top: -1px; /* ➜ the trick */
  // padding-top: calc(1em + 1px); /* ➜ compensate for the trick */
  .nav-class {
    font-family: $f-headline-full;
    font-size: 17px;
    line-height: 1.35;
    font-weight: 700;
    padding: 3px 0;
    margin-bottom: 4px;
  }
  a:not([data-ignore='global-link-styling']), a:not([data-ignore='global-link-styling']):hover {
    border-bottom: none;
  }
	#close-nav {
		opacity: 0;
		span {
			@include sr-only();
		}
	}
  &.stick-me {
    max-height: $collapsed-nav-height;
    overflow-y: hidden;
    position: sticky;
    &.open-nav {
      max-height: 500px;
      // .nav-label, .nav-class, .active {
      //   top: 0px;
      //   position: relative;
      //   padding: inherit;
      //   margin-bottom: inherit;
      //   height: auto;
      //   span {
      //     line-height: inherit;
      //   }
      // }
    }
    #close-nav {
      opacity: 1;
      span {

      }
      // position: absolute;
      // right: 0;
      // width: $icon-radius;
      // height: $icon-radius;
    }
    // .nav-label, .nav-class {
    //   position: absolute;
    //   height: $collapsed-nav-height;
    //   top: (-$collapsed-nav-height);
    // }
    // .active {
    //   top: 0px;
    //   height: 40px;
    //   padding: 0;
    //   margin-bottom: 0;
    //   span {
    //     line-height: $collapsed-nav-height;
    //   }
    // }
  }
  @include mq(tablet) {
    // max-width: 620px;
  }
  @include mq(desktop) {
    background-color: transparent;
		width: 220px;
    // margin-left: 0 !important;
  }
  @include mq(leftCol) {
		width: 300px;
  }
  .nav-title-wrapper {
    display: flex;
    justify-content: space-between;
    font-family: $f-sans-serif-text;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 8px;
    p, span {

    }
  }
  #close-nav {
    // opacity: 0;
    display: flex;
    &::before {
      width: $icon-radius;
      height: $icon-radius;
      border-radius: $icon-radius/2;
      border: 1px solid $neutral7;
      content: " ";
      background-image: url(https://uploads.guim.co.uk/2020/12/10/arrow-brand.svg);
      background-repeat: no-repeat;
      background-position: center;
        transform: rotate(180deg);
    }
    &.open {
      &::before {
        transform: rotate(0);
      }
    }
  }
}
.section-header {
  &::before {
    display: block;
    content: " ";
    // top: -40px;
    height: $collapsed-nav-height;
    visibility: hidden;
  }
  h2 {

  }
}
