@import "variables";

.content--interactive,
.article__body {
  -webkit-animation: fadein $transition-speed ease $transition-delay normal forwards 1;
  animation: fadein $transition-speed ease $transition-delay normal forwards 1;
}
// theme - create seperate scss - theme-core
$primaryColor: #041f4a;
$secondaryColor: #ffe500;
$background: $neutral100;

@import "fonts";
@import "mq";
@import "palette";
@import "enhancer";
@import "theme2021";

.hide-content {
  opacity: 0;
}
.show-content {
  opacity: 1;
}
.interactive-atom {
  margin: 0;
  padding: 0;
}
#holding-menu-block {
  display: none;
}
// for apps adds extra padding. Needed to make dark mode work
.ios,
.android {
  .interactive-atom {
    padding: 8px;
  }
  #holding-menu-block{
    display: block;
    height: $collapsed-nav-height;
  }
}

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
  // @include mq(desktop) {
  //   scroll-padding-top: 24px;
  // }
}
.content--interactive,
.article__body {
  .section-header,
  [data-component="youtube-atom"],
  [data-atom-type="media"] {
    &::before {
      content: "";
      display: block;
      height: $anchor-margin;
      margin-top: -$anchor-margin-top;
      @include mq(desktop) {
        height: $collapsed-nav-height;
        margin-top: 0;
      }
    }
  }
  .section-header,
  [data-component="youtube-atom"],
  [data-atom-type="media"] {
    &:first-of-type {
      &::before {
        // height: 182px;
        // margin-top: -162px;
      }
    }
  }
  .prose blockquote,
  blockquote {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    margin: 24px 0;
    padding: 4px 10px 24px 10px;

    float: left;
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    *:first-child {
      margin-bottom: 0;
    }
    @include mq(mobileLandscape) {
      width: 240px;
      margin-right: 20px;
    }
    @include mq(tablet) {
      margin-left: 10px;
      > p {
        flex: 1 0 50%;

        @include mq(mobileLandscape) {
          flex: 0 1 100%;
        }
      }
      > p:first-child {
        flex: 0 1 100%;
      }
    }
    @include mq(leftCol) {
      width: 304px;
    }

    p {
      line-height: 115%;
      em {
        font-family: $f-sans-serif-text;
        font-size: 15px;
        line-height: 1.15;
        color: $culture350;
        font-style: normal;
      }
      strong {
        color: $primaryColor;
        font-family: $f-serif-headline;
        font-weight: 500;
        line-height: 1.15;
        font-size: 20px;
        @include mq(desktop) {
          font-size: 24px;
        }
        em {
          // flex-direction: row;
          font-family: $f-serif-headline;
          font-variant-numeric: lining-nums;
          color: $primaryColor;
          font-weight: 700;
          font-size: 56px;
          width: max-content;
          margin-right: 8px;
          @include mq(desktop) {
            font-size: 82px;
          }
        }
      }
    }
  }
}
.article-navigation {
  position: relative;
  background-color: $background;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 5;
  padding: 8px 0;
  transition: all 0.3s ease-in-out;
  max-height: $collapsed-nav-height; //  collapse at start
  overflow-y: hidden;
  z-index: 2000;
  margin-top: 0;
  border-bottom: 1px solid $neutral86;
  margin: 0 -10px;
  width: 100vw;
  @include mq(phablet) {
    width: calc(100% + 20px);
  }
  @include mq(desktop) {
    border-bottom: none;
    max-height: $menuMaxHeight;
  }
  .nav-label {
    line-height: 30px;
  }
  .nav-class {
    font-family: $f-serif-headline;
    font-size: 17px;
    line-height: 1.35;
    font-weight: 700;
    padding: 3px 0;
    margin-bottom: 4px;
  }
  a:not([data-ignore="global-link-styling"]),
  a:not([data-ignore="global-link-styling"]):hover {
    border-bottom: none;
  }
  #close-nav {
    span {
      @include sr-only();
    }
  }
  &.open-nav {
    max-height: $menuMaxHeight;
    @include mq(desktop) {
      max-height: unset;
    }
  }
  &.stick-me {
    max-height: $collapsed-nav-height;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    &.open-nav {
      max-height: $menuMaxHeight;
      @include mq(desktop) {
        max-height: unset;
      }
    }
    @include mq(desktop) {
      max-height: unset;
      left: auto;
    }
    #close-nav {
      opacity: 1;
      // position: absolute;
      // right: 0;
      // width: $icon-radius;
      // height: $icon-radius;
    }
    // .nav-label, .nav-class {
    //   position: absolute;
    //   height: $collapsed-nav-height;
    //   top: (-$collapsed-nav-height);
    // }
    // .active {
    //   top: 0px;
    //   height: 40px;
    //   padding: 0;
    //   margin-bottom: 0;
    //   span {
    //     line-height: $collapsed-nav-height;
    //   }
    // }
  }
  @include mq(tablet) {
    // max-width: 620px;
  }
  @include mq(desktop) {
    background-color: transparent;
    width: 220px;
    // margin-left: 0 !important;
  }
  @include mq(leftCol) {
    width: 460px;
  }
  .nav-title-wrapper {
    display: flex;
    justify-content: space-between;
    font-family: $f-sans-serif-text;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  #close-nav {
    display: flex;
    &::before {
      width: $icon-radius;
      height: $icon-radius;
      border-radius: $icon-radius/2;
      border: 1px solid $neutral86;
      content: " ";
      transition: all $transition-speed ease-in-out;
      // background-image: url(https://uploads.guim.co.uk/2020/12/10/arrow-brand.svg);
      background-image: url(https://uploads.guim.co.uk/2021/12/16/cross.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px;
      transform: rotate(-45deg);
    }
    &.open {
      &::before {
        transform: rotate(0deg);
      }
    }
  }
}
.content__meta-container_dcr {
  [data-print-layout="hide"]{
    margin-bottom: 0;
  }
}
.ios,
.android {
  .section-header{
    &::before {
      height: $collapsed-nav-height;
      margin-top: -$collapsed-nav-height;
    }
  }
  [data-atom-type="media"] {
    &::before {
      height: 0;
      margin-top: 0;
    }
  }
  #standard-article-container {
    overflow: unset;
  }
  .youtube-sdk-caption {
    margin-bottom: 12px;
  }
  .garnett--pillar-news figure[data-atom-type="interactive"] {
    @media (prefers-color-scheme: dark) {
      background-color: $neutral10;
    }
  }
  .article__header {
    margin-bottom: 0 !important;
  }
  .video-illo-wrapper, .video-illo-wrapper-2 {
    margin-left: -8px;
    margin-right: -8px;
    figcaption {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (prefers-color-scheme: dark) {
    .article--standard {
      .section-header + p {
        border-color: $neutral46;
      }
    }
    .article-navigation {
      border-color: $neutral46;
    }
  }
  .article__header {
    .standfirst {
      padding-right: 0px !important;
    }
  }
  .article-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    padding-right: 10px;
    padding-left: 10px;
    &.stick-me {
      &:not(.hide-app) {
        -webkit-animation: fadein 0.5s ease 0.5s normal forwards 1;
        animation: fadein 0.5s ease 0.5s normal forwards 1;
      }
      &.hide-app {
        opacity: 0;
      }
    }
    @media (prefers-color-scheme: dark) {
      background-color: $neutral10;
      .nav-title-wrapper {
        color: $neutral100;
      }
      #close-nav {
        &::before {
          background-image: url(https://uploads.guim.co.uk/2021/12/16/cross-white.svg);
          border-color: $neutral46;
        }
      }
    }
  }
  .prose blockquote {
    margin-top: 0;
    p + p,
    p + p + p {
      margin: 0;
    }
  }
  #article-body-blocks blockquote,
  .article__body blockquote,
  .content--interactive blockquote {
    @media (prefers-color-scheme: dark) {
      background-color: #333333;
      border-top: #ededed;
      p {
        em {
          color: #e7d4b9;
          &:before {
            background-image: url(https://uploads.guim.co.uk/2021/12/16/Type__Asterisk-30-c600.svg);

          }
        }
        strong {
          color: #ededed;
          em {
            color: #ededed;
          }
        }
      }
    }
  }
}
