<!-- add 'two-cards' or 'three-cards' to the wrapper div to position correctly on wide breakpoints -->
<div class="onwards-wrapper three-cards">
    <a href="#" data-link-name="onward card : one" class="onwardcard">
        <img class="onwardcard-image"
            src="https://media.guim.co.uk/c1bf4ad6ba7878290dc4c65f13794e028ffde90d/143_107_1276_766/500.jpg" alt="">
        <div class="onwardcard-card">
            <h3 class="onwardcard-headline"><span>‘I seek a kind person :’</span> the Guardian ad that saved my Jewish
                father from the Nazis</h3>
        </div>
    </a>
    <a href="#" data-link-name="onward card : one" class="onwardcard">
        <img class="onwardcard-image"
            src="https://media.guim.co.uk/c1bf4ad6ba7878290dc4c65f13794e028ffde90d/143_107_1276_766/500.jpg" alt="">
        <div class="onwardcard-card">
            <h3 class="onwardcard-headline"><span>‘I seek a kind person :’</span> the Guardian ad that saved my Jewish
                father from the Nazis</h3>
        </div>
    </a>
    <a href="#" data-link-name="onward card : one" class="onwardcard">
        <img class="onwardcard-image"
            src="https://media.guim.co.uk/c1bf4ad6ba7878290dc4c65f13794e028ffde90d/143_107_1276_766/500.jpg" alt="">
        <div class="onwardcard-card">
            <h3 class="onwardcard-headline"><span>‘I seek a kind person :’</span> the Guardian ad that saved my Jewish
                father from the Nazis</h3>
        </div>
    </a>
</div>
