.onwards-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  // padding: 0 10px;
  @include mq(mobileLandscape) {
    flex-direction: row;
  }
  @include mq(tablet) {
    margin-left: -10px;
    padding: 0;
  }
  .onwardcard {
    display: block;
    border-radius: 8px;
    overflow: hidden;
    border-bottom: none !important;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    &::after {
      content: "";
      width: 1px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -10px;
      background-color: #dcdcdc;
    }
    &:first-child::before {
      display: none;
    }
    @include mq(mobileLandscape) {
      margin-right: 20px;
      margin-bottom: 0;
    }
    &:hover {
      cursor: pointer;
      .onwardcard-card {
        background-color: #dcdcdc;
      }
    }
    .onwardcard-image {
      width: 100%;
      height: auto;
    }
    .onwardcard-card {
      background-color: #f6f6f6;
      margin-top: -3px;
      padding: 4px 10px 24px 10px;
      min-height: 120px;
      flex-grow: 1;
      .onwardcard-headline {
        color: #121212;
        font-family: $f-serif-headline;
        font-size: 20px;
        font-weight: 200;
        line-height: 115%;
        span {
          font-weight: 400;
          color: #052962;
          background-color: transparent !important;
        }
      }
    }
  }

  &.two-cards {
    @include mq(tablet) {
      margin-left: 0;
      .onwardcard {
        width: 50%;
      }
    }
    .onwardcard:nth-child(2) {
      margin-right: 0;
    }
  }

  &.three-cards {
    @include mq(mobileLandscape) {
      overflow-x: scroll;
      margin-right: -20px;
      .onwardcard {
        width: 33%;
        min-width: 40vw;
      }
    }

    @include mq(tablet) {
      overflow-x: unset;
      margin-right: -60px;
      .onwardcard {
        min-width: unset;
      }
    }

    @include mq(desktop) {
      margin-right: 0;
    }

    @include mq(leftCol) {
      margin-left: -160px;
    }

    @include mq(wide) {
      margin-left: -240px;
    }

    .onwardcard:nth-child(3) {
      margin-right: 0;
    }
  }
}

.ios,
.android {
  .onwards-wrapper {
    padding: 0;
  }
}
