// Colour pallet - create seperate scss - colours
$brand400:      #052962;
$brand500:      #007ABC;
$brandAlt400:   #FFE500;
$neutral100:    #ffffff;
$neutral46:     #707070;
$neutral86:     #dcdcdc;
$neutral7:      #121212;
$neutral10:     #1A1A1A;
$neutral0:      #000000;
$culture800:    #FBF6EF;
$culture350:    #866D50;
$beige:         #fff7e5;

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}
