// Colour pallet - create seperate scss - colours
$brand400:      #052962;
$brand500:      #007ABC;
$brandAlt400:   #FFE500;
$neutral100:    #ffffff;
$neutral46:     #707070;
$neutral86:     #dcdcdc;
$neutral7:      #121212;
$neutral10:     #1A1A1A;
$neutral0:      #000000;
$culture800:    #FBF6EF;
$culture350:    #866D50;
$beige:         #fff7e5;

$collapsed-nav-height: 48px;
$icon-radius: 32px;
$anchor-margin-app: 204px;
$anchor-margin: $anchor-margin-app;
$anchor-margin-top: $anchor-margin-app - 24px;
$anchor-margin-2: 146px;
$anchor-margin-top-2: 214px;
$menuMaxHeight: 700px;

$transition-speed: 300ms;
$transition-delay: 500ms;

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}
@mixin border-color-opacity($color, $opacity: 0.3) {
    border-color: $color; /* The Fallback */
    border-color: rgba($color, $opacity);
}

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@keyframes fadein {
    0% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein {
    0% { opacity:0; }
    100% { opacity:1; }
}
@keyframes fadeout {
    0% { opacity:1; }
    100% { opacity:0; }
}

@-webkit-keyframes fadeout {
    0% { opacity:1; }
    100% { opacity:0; }
}
@keyframes slidein {
  from {
    margin-top: -$anchor-margin;
  }
  to {
    margin-top: 0;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-top: -$anchor-margin;
  }
  to {
    margin-top: 0;
  }
}
// need sass animation mixin to replace above
// @mixin animation-mixin($name, $from, $to) {
//   @keyframes #{$name} {
//     0% {transform: translate3d($from, 0, 0); opacity: 0;}
//     100% {transform: translate3d($to, 0, 0); opacity: 1;}
//   }
// }
@mixin sr-only() {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
