<!-- add 'two-cards' or 'three-cards' to the wrapper div to position correctly on wide breakpoints -->
<div class="onwards-wrapper two-cards">
    {{ #aroundworld }}
    <a href="{{ linkUrl }}" data-link-name="onward card : {{ linkName }}" class="onwardcard">
        <img class="onwardcard-image"
            src="{{ imageUrl }}" alt="{{kicker}} {{headline}}">
        <div class="onwardcard-card">
            <h3 class="onwardcard-headline"><span>{{ kicker }}</span> {{ headline }}</h3>
        </div>
    </a>
    {{ /aroundworld }}
    
</div>
