// Colour pallet - create seperate scss - colours
$brand400: #052962;
$neutral100: #ffffff;
// theme - create seperate scss - theme-core
$primaryColor: #041f4a;
$secondaryColor: #ffe500;

@import "fonts";
// @import "enhanced_fonts";
@import "mq";
@import "palette";
// @import "enhancer";
// @import "nav";
// @import "header";
// gu_grid pulls the css for gs-container and content__main-column
// @import "gu_grid";

.interactive-atom {
  margin: 0;
  padding: 0;
}

// for apps adds extra padding. Needed to make dark mode work
.ios,
.android {
  .interactive-atom {
    padding: 8px;
  }
}

.interactive-wrapper {
  margin: 0 -10px;
}

.supporter-wrapper {
  background-color: $secondaryColor;
  padding: 4px 10px;
  position: relative;
  .support_headline {
    font-family: $f-serif-headline;
    line-height: 113%;
    font-size: 24px;
    font-weight: 500;
    max-width: 270px;
    // max-width: 70%;
    @include mq(phablet) {
      max-width: 420px;
    }

    span {
      font-weight: 200;
    }
  }
  .support_button {
    font-size: 17px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 8px;
    padding: 8px 18px 9px;
    background-color: #121212;
    max-width: max-content;
    border-radius: 60px;
    transition: background-color 0.3s ease;
    @include mq(tablet) {
      margin-top: 32px;
      margin-bottom: 4px;
    }
    &:hover {
      background-color: #041f4a;
    }
    a {
      font-family: $f-sans-serif-text;
      color: white;
      border: none;
      &:hover {
        border: none;
        color: white;
      }
    }
  }
  .support_roundel {
    position: absolute;
    top: 4px;
    right: 10px;
  }
}
